*{
    padding: 0px;
    margin: 0px;
}

body{

    padding: 0px;
    margin: 0px;
    background: url(art.jpg);
    background-size: cover;
}

.nav{
    background-color: rgb(35, 35, 70);
    color: black;   
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.nav ul {
    display: flex;

}

.nav ul li{
    list-style: none;
     padding-left: 0px;
    margin-left: 190px; 
    
}

.nav ul li a{
    text-decoration: none;
    /* padding-left: 50px; */
    color: aliceblue;
    font-family: "GFS Neohellenic Regular";
    font-size: medium;
}

.nav ul li a:hover{
      text-decoration: underline;
}

.icon{
    position: absolute;
    color: white;
    left: 1280px;
}

.ok{
    font-family: "GFS Neohellenic Regular";
    font-size: large;
    position: absolute;
    color: aliceblue;
    top: 35%;
    left: 35%;

}

.par{
    font-family: "GFS Neohellenic Regular";
    font-size: medium;
    color: rgb(214, 204, 204);
    position: absolute;
    top: 45%;
    left: 42%;
}