*{
    padding: 0px;
    margin: 0px;
}

body{

    background: url(art.jpg);
    background-size: cover;
}

.input{
position: absolute;
top: 35%;
left: 45%;
color: aqua;
}

.input input[type=reset]{
      margin-right: 100px;
      box-sizing: 30px;
      width: 100px;
      height: 24px;
      margin-left: 45px;
      border-radius: 5px;

}

.input input{
     
    border: none;
    font-family: "GFS Neohellenic Regular";
    background: #cacaca;
    width: 200px;
    height: 32px;
    
}